.app-footer-logo {
  /* width: 50px; */
  height: 30px;
  /* height: 50%; */
}

.app-header {
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #FF7576;
  background-color: #102542;
  color: white;
  height: 50px;
  width: 100%;
  padding: 5% 2% 5% 2%;
  font-size: 12px;
}
